<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>关于我们</title>
</head>
<body>
     <!-- 引入公共导航模版-->
   <%- include('../public/nav.ejs')%>
    <h1>欢迎来到关于我们页面！</h1>
</body>
</html>