<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>主页</title>
</head>
<body>
    <!-- 引入公共导航模版 -->
   <%- include('../public/nav.ejs')%>
    <h1>欢迎来到米修在线的主页！</h1>
</body>
</html>